<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qyc.mapper.dc.DxMapper">

    <insert id="insertDx">
        insert into t_sms (
        template_code,
        sms_params,
        mobile,
        success,
        code,
        msg,
        sms_type,
        sms_free_sign_name,
        created
        ) values (
        #{sms_template_code},
        #{sms_param},
        #{mobile},
        #{success},
        #{code},
        #{msg},
        #{sms_type},
        #{sms_free_sign_name},
        now()
        )
    </insert>
</mapper>